{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "plugins": ["react"],
  "settings": {
    "import/resolver": "meteor"
  },
  "globals": {
    "Package": true,
    "$": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "@meteorjs/eslint-config-meteor"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "function-paren-newline": "off",
    "no-confusing-arrow": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "semi": "off",
    "react/prop-types": 0,
    "react/no-direct-mutation-state": 0,
    "react/no-find-dom-node": 0
  }
}
